/* config general */
@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?ce8ak3');
	src:  url('../fonts/icomoon.eot?ce8ak3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ce8ak3') format('truetype'),
    url('../fonts/icomoon.woff?ce8ak3') format('woff'),
    url('../fonts/icomoon.svg?ce8ak3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e900";
}


body {
	font-family: 'Source Sans Pro',sans-serif;
	margin: 0;
	background: #fafafa;
	box-sizing: border-box;
}

.boton {
	border: 2px solid;
	padding: 7px 20px;
	border-radius: 7px;
	text-decoration: none;
	color:#0d0d0dc7;
	background-color: #F2DC6B;
}
.boton:hover {
	color:#0D0D0D;
	font-weight: 900;
	background-color: #fff021;
}
.header nav,ol,li {
	margin: 0;
	padding: 0;
	list-style: none;
	height: inherit;
	display: flex;
	flex-wrap: wrap;l
}
figure {
	margin: 0;
}

.texto-logo{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0, px;
    margin: 0;
       
	-webkit-text-fill-color:white;        
	-webkit-text-stroke: 1.5px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4em;
}

.header {
	background-color: #F2A444;
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	top:0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 70px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	z-index: 10;

}
.header a {
	text-decoration: none;
	color: #0d0d0dc7;
	display: inherit;
	align-items: center;
	height: inherit;
	padding: 0 10px;
	margin: 0;
	font-size: 1em;
	font-weight: bold;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Fjalla One', Times, sans-serif;
	font-weight: normal;
	display: inline-block;
	margin: 1.5em .5em;
}
h1 {
	font-size: 2em;
	line-height: 1.5;
	letter-spacing: -.2px;
	text-transform: capitalize;
	color:#BF2604;
	margin: 0;
	margin-left: 10px;
	width: 500px;
	
}

h1,strong {
	color: #BF2604;
}
h2 {
	color: #BF2604;
	text-transform: uppercase;
	font-family: 'Source Sans Pro';
	font-weight: bold;
	font-size: 1.3em;
	margin-bottom:2em;
}
/* section hero */

.hero .bienvenida {
	width: 400px;
}
.hero h1 {
	color: white;
	width: 100%;
	display: inline-block;
}
.hero a {
	margin-top: 20px;
	margin-left: 5px;
	display: inline-block;
}

.hero {
	margin: 0;
	padding: 0;
	margin-top: 70px;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: #F2A444;
}
.hero img {
	object-fit: cover;
}
/* section portafolio */
.portafolio {
	font-size: 1em;
	background: #fafafa;
	padding: 1.2em;
}
.project {
	/*border: 1px solid gray;*/
	border-radius: .7em;

	border: 2px solid rgba(128, 128, 128, 0.144);
	padding: .8em;
	margin: 0;
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}
.project-textContainer{
	padding-right: .5em;
}
.project-textContainer, .project-imageContainer{
	width: calc((100% - (.8em  * 2)) / 2);
}
.project-imageContainer{
	text-align: center;
}
.project-imageContainer img{
	max-width: 100%;
}
.project strong {
	font-family: 'Source Sans Pro';
	font-weight: bold;
}
.project-title {
	font-size:1.6em;
	margin-top: .1em;
	margin-left: 0;

}
.project-details {
	font-size: 1.1em;
}
.project-course {
	line-height: 0;
	font-size: 1em;
	margin: 1.5em 0;
}
.project small {
	font-size:1em;
}
.imagen-izquierda{
	margin-right: 1em;
}
	
	
/* favoritos */

.favoritos-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.favorito {
	border: 1px solid gray;
	margin: 1%;
	max-width: 47%;
	flex-shrink: 0;
	border-radius: 10px;
	overflow: hidden;
	background: #404040;
	font-size: 18px;
	display: inline-block;
	
}
.favorito-detail {
	margin:2em;
	margin-top: -1em;
	background:white;
	position: relative;
	height: 6.5em;
	padding: 1em;
	text-align: center;
	border: solid 2px black;
	border-radius: 10px;

}
.favorito-description {
	margin-bottom: .5em;
	font-size: 1em;
}
.favorito img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.favorito-title {
	margin: 5px;
}
/* section contacto */
.contact {
	margin-top: 1em 0;
	background:#BF2604;
	color: white;
	height: 140px;
	display: flex;
	align-items: center;
	justify-content:  space-between;
	padding: 0 .5em;
}

.social-link {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	margin: 0 10px;
}

.social-link.facebook {
	background-image: url('../images/facebook.svg');
}
.social-link.github {
	background-image: url('../images/github.svg');
}
.social-link.youtube {
	background-image: url('../images/youtube.svg');
}
.social-link.linkedin {
	background-image: url('../images/linkedin.svg');
}
.form-email input {
	border-color: gray;
	border-style: solid;
	border-radius: 5px;
	padding: .7em .7em .7em 2em;
	background-image: url('../images/envelope.svg');
	background-size:1em 1em;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 5px;
	font-size: 1em;
}

footer{
	background-color:#BF2604;
	color: white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: .3em;
	padding-top: 0;
}
footer img {
	vertical-align: middle;
}
footer a {
	color: #404040;
}

.container{
	/* border: 1px solid red; */
	max-width: 1050px;
	flex: 1;
	margin: 0 auto;
	padding: inherit;
	display: inherit;
	height: inherit;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex-wrap: wrap;
}

.html-video{
	/* max-width: 100% */
		width: 100%;
		height: 0;
		height: auto;
}
.flex-video{
	width: 100%;
	padding-top : calc((315*100/560)*1%);
	background: blank;
	margin-bottom: 5em;
	position: relative;
}
.youtube-video{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width:100%;
}
.burger-button {
	position: fixed;
	left: 5px;
	top: 5px;
	z-index: 4;
	background: rgba(0,0,0,.5);
	color: white;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	display: none;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Desktop first que empiese desde el MQ más grande */

@media screen and (max-width: 1024px) {

	.hero{
		height: 15em;
		position: relative;
		overflow: hidden;
		padding: 1em;
	}
	.hero img {
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		top:0;
		width: 100%;
	}
	.bienvenida {
		position: absolute;
		top:0;
		right: 0;
		bottom: 0;
		left: 0;
		font-size: 1em;
		z-index: 2;
		margin: 0;
	}
}
@media screen and (max-width: 767px) {
	/* configuración del header */
	.burger-button {
	display: block;
	}
	/* .header ol, li {
		height: 50px;
	} */
	.menu{
		display: flex;
		position: fixed;
		z-index: 3;
		background: #f2a444c5;
		top: 0;
		left: -100vh;
		width: 100vw;
		height: 100vh !important;
		justify-content: center;
		align-items: center;
		transition: .3s;
	}

	.menu.is-active {
		left: 0;
	}

	.header ol {
		height: auto;
		font-size: 1em;
		display: inline-block;
	}

	.header li {
		text-align: center;
		display: block;
	}

	.header a {
		margin: .8em 0;
		height: 40px;
		text-decoration: underline;
		margin-bottom: .5em;
		font-size: 2em;
		text-align: center;
	}
	.hero{
	height: 7.1em;
	margin-top: 0;
	}
	h1{
		font-size: 1.5em;
	}
	.hero a{
		font-size: .5em;
		margin-top: .5em;
	}

	.bienvenida{
		display:inline-block;
	}
	.header{
		display: block;
    position: sticky;
    top:0;
    left: 0;
    right: 0;
    z-index: 3;
		height: 60px;
		padding:auto;
    margin: 0;
	}

	.header figure{
		display:block;

    height: 100%;
    text-align: center;
    line-height: 60px;
	}
  .header img{
    vertical-align: middle;
  }
	/* configuración del Portafolio */
	.project {
		display: block;
		font-size: 10px;
	}
	.project-textContainer{
		width: auto;
		padding: 0;
	}

	.project-textContainer{
		
		margin-left: .5em;
	}

	.project-imageContainer{
		width: auto;
		display: block;
	}
	.project-imageContainer img{
		width: 100%;
	}
	.project-title {
		font-size: 2.3em;
		margin-top: .1em;
	}

	
	.favorito{
		max-width: 100%;
		flex-shrink: initial;
		font-size: 10px;
	}
	.favoritos-list{
		margin: 1em;
	}

	.contact{
		justify-content: center;
		align-items: center;
	}
	.social-link {
		width: 40px;
		height: 40px;
		background-size: 40px 40px;
		margin: 0 10px;
	}
		
	.social {
		display: block;
		text-align: center;
		padding: 0;
	}

	footer{
		display: block;
		text-align: center;
		font-size: 10px;
		padding: 0;

	}
	footer p{
		margin-top:0;
	}

}
@media screen and (max-width: 480px) {
	.hero{
		height: 8.6em;
	}

	.hero a{
		margin-top: 1px;
	}
	
	h1{
		font-size: 1.5em;
		padding: .5em;
	}
	.header{
		padding: .1em 0 .3em;
	}
	.header a{
		margin: .2em 0;
		font-size: .7em;
	}
	.header figure{
		margin-bottom: 0;
	}
	.project {
		display: block;
		font-size: 8px;
	}
	h2 {
		font-size: 1.1em;
		margin-bottom: 1em;
	}
	.portafolio {
		padding: .5em;
		padding-top: 3px;
	}
	.favorito{
		font-size: 9px;
	}
	.favoritos-list{
		margin: .5em;
	}
	.favoritos-list{
		margin: .5em;
	}
	.favorito-detail {
		margin:0;
		top: -.2em;
		height: 10em;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}


	.contact{
		height: auto;
		padding: .5em;
		text-align: center;
		display: block;
		margin: 0;
		font-size: 10px;
	}
	.form-email button{
		margin: 2em auto;
		font-size: 1em;
	}
	.social a {
		width: 30px;
		height: 30px;
		background-size: contain;
		background:#404040;
	}

	footer img{
		height: 3em;
		width: auto;
	}
}
@media screen and (max-width: 320px) {

	.hero{
		height: 6.4em;

	}

	.hero a{
		margin-top: 0;
	}

	h1 {
		font-size: 1.2em;
		padding: .1em;
		margin: .2em;
	}
	.project {
		display: block;
		font-size: 7px;
	}
	h2 {
		font-size: 1em;
		margin-bottom: 1em;
	}
	.portafolio {
		padding: .2em;
		padding-top: 2px;
	}
	.favoritos-list{
		margin: .2em;
	}
}
