/* estudios */

.estudios-list {
	display: flex; 
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.estudio {

	border: $borde1;
	margin: 1%;
	max-width: 47%;
	flex-shrink: 0;
	border-radius: 10px;
	overflow: hidden;
	font-size: 18px;
	display: inline-block;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);

	@media screen and (max-width: $breakpoint + 300px) {
		max-width: 100%;
		min-width: 100%;
	}
	
}
.estudio-detail {
	margin:2em;
	margin-top: -1em;
	background:white;
	position: relative;
	height: 6.5em;
	padding: 1em;
	text-align: center;
	
	border: $borde2;
	border-radius: 10px;

}
.estudio-description {
	margin-bottom: .5em;
}
.estudio img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.estudio-title {
	border: 3px solid b;
	margin: 5px;
}