//variables Generales
$color-fondo: #fafafa;
$color-enfasis:#F2A444;
$color-enfasis2:#BF2604;
$borde1: 2px solid rgba(128, 128, 128, 0.482);
$borde2: 1px solid rgba(0, 0, 0, 0.641);

//Importaciones 
@import "reset";
@import "iconos";
@import "botones";
@import "header";
@import "hero";
@import "portafolios";
@import "estudios";
@import "contacto";
@import "footer";
