%button {
  @extend %text-button;
  border-radius: rem(53px);
  height: rem(63px);
  padding: rem(14px) rem(35px) rem(16px);
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

%button-primary {
  @extend %button;
  color: $white;
  background-color:$orange-lt;

  &:hover {
    color: $white;
    background-color:$red;
  }
}

.button-primary {
  @extend %button-primary;
}

.button-secondary {
  @extend %button;
  background-color: $yellow-lt;
  color: $black;

  &:hover {
    background-color: $white;
    color:$red ;
  }
}

.button-tertiary {
  @extend %button;
  background-color: $blue;
  color: $black;

  &:hover {
    background-color: $white;
    color: $red;
  }
}
.button-cuarto {
  @extend %button;
  background-color: $Rose;
  color: $black;

  &:hover {
    background-color: $white;
    color: $red;
  }
}


.button-slide {
  background-color: $yellow;
  border-radius: 100%;
  color: $black;
  display: block;
  cursor: pointer;
  height: rem(60px);
  position: relative;
  text-align: center;
  transition: all 0.35s;
  width: rem(60px);

  $self: &;

  &:hover {
    background-color: $white;
    color: $red;
  }

  &__icon {
    @include center("both");
    font-size: rem(20px);
  }
}

%button-submit {
  @extend %button-primary;
  border: solid;
  border-color: $yellow;
  &:hover {
    background-color: transparent;
    color: $red;
  }
}
