.banner {
    border: 3px solid red;
    padding: 60px 0;
    &__imagen{
        border: 3px solid blue;
        padding: 0;
        img{
            width: 100%;
            padding: 0;
        }
    }

    &__text-content{
        border: 3px solid brown;
        padding: 30px;
    }

    &__title {
        margin-bottom: 20px;
        @extend %heading;
    }

    &__text {
        border: 3px solid yellow;
    }
}