.hero-banner{
  position: relative;

  &__image{
    @include fluid-aspect (4 3, 'img');

    @include from ('l') {
      @include fluid-aspect (20 7, 'img');
    }
    margin: 0;
  }

  &__title{
    @include center('both');
    @extend %h1;
    color: $white;
    font-size: rem(60px);
    font-weight: 400;
    text-align: center;
  }
}
