.slider-banner {
    padding: 0;
    border-radius: 10px;
    overflow:hidden;
    position: relative;

    &__item {
        width: rem(300px);
        height: rem(300px);
    }

    &__imagen{
        padding: 0;
        margin: 0;
        @include fluid-aspect(20 21, 'img');
        @include from(l){
            @include fluid-aspect(19 7, 'img');
        }
        img{
            width: 100%;
            padding: 0;
        }
    }

    &__text-content{
        padding: 30px;
        @include center('vertical');
        max-width: rem(700px);
        
    }

    &__title {
        margin-bottom: 20px;
        @extend %heading;
        -webkit-text-stroke: 1px $white;
    }

    &__text {
        color:$grey;
    }
    .slick-dots{
        position: absolute;
        height: rem(90px);
        margin: 0;
        color: $yellow;

        li{
            button::before{
                font-size: 52px;
                color: $yellow;
            }

            &.slick-active{
                button::before{
                    font-size: 53px;
                    color: $yellow;
                } 
            }
        }
    }
}


