.posts-detail {
  background-color: $white;
  border-radius: rem(20px);
  box-shadow: 0 0 rem(8px) rgba($grey, .7);
  height: fit-content;
  margin-left: 20px;
  max-width: rem(350px);
  min-height: 50vh;
  min-width: rem(350px);
  overflow: hidden;
  position: relative;

  &__thumbnail {
    @include fluid-aspect(3 2, 'img');
    border-bottom-left-radius: rem(20px);
    border-bottom-right-radius: rem(20px);
    min-width: 100%;
    overflow: hidden;
  }

  &__content {
    padding: rem(20px) rem(30px);
  }

  &__title {
    @extend %h2-b;
  }

  &__text {
    p {
      @extend %body-s;
    }
  }
}
