.project-card {
  background-color: $white;
  border-radius: rem(30px);
  overflow: hidden;
  position: relative;

  &__thumbnail {
    @include fluid-aspect(4 2, 'img');
    border-radius: rem(30px);
  }

  &__content {
    padding: rem(40px) rem(30px);
  }

  &__title {
    @extend %h2-b;
  }
}
