.info-banner{
  padding: rem(60px) 0;
  @include from(l){
    padding:0;
  }
  .row{
    padding: 2% 0;
    @include from('l'){
      height: rem(680px);
    }
  }
  &__image{
    text-align: center;
    @include from('l'){
      height: 100%;
    }
    img{
      height: auto;
      width: 100%;
      @include from('l'){
        height: 100%;
        width: auto;
      }
    }
  }
  &__text-container{
    height: 100%;
    justify-content: center;
    @include from ('l'){
      justify-content: flex-start;
    }
  }
  &__text{
    flex-direction: column;
    gap: rem(50px);
    max-width: rem(560px);
    padding-left: rem(100px);
    h2{
      @extend %h1-b;
      max-width: min-content;
    }
    ul{
      display: flex;
      flex-direction: column;
      gap: rem(40px);
      padding-left: rem(50px);
    }
    li{
      list-style: none;
      position: relative;
      &::before {
        content: url('../img/icons/icons-check.svg');
        height: rem(45px);
        left: rem(-60px);
        position: absolute;
        top: rem(-5px);
        width: rem(45px);
      }
    }
  }
}
