.banner-feature-bottom {
  @include bgcover;
  padding: rem(60px) 0;

  &--cloud { 
    background-image: url('../img/cloud-bottom.png');
    background-position: bottom center;
  }

  &__image{
    img{
      width: 100%;
    }
  }

  &__text-container{
    display: flex;
    flex-direction: column;
    gap: rem(30px);
    padding: 2%;
  }

  &__body{
    @extend %body-m;
  }

  &__eyebrow{
    @extend %h3;
  }

  &__title{
    @extend %h1-b;
    width: 100px;
  }

  &__cta{
    display: flex;
    padding-top: rem(20px);
  }
}
