.calendar {
  padding: rem(50px) 0 0;
  text-align: center;
  @include from(l){
    padding: rem(100px) 0 0;
  }
  .container {
    text-align: center;
  }
  &__title, &__text {
    text-align: center;
    padding-bottom: rem(30px);
  }
  &__title {
    @extend %h1;
  }
  &__text {
    @extend %body-m;
    max-width: rem(1024px);
    display: inline-block;
  }
  &__image {
    text-align: center;
    img{
      width: 100%;
      @include from(l){
        width: 60%;
      }
    }
  }
}
