.corporate-values{
  text-align: center;
  &__title{
    @extend %h1-b;
  }
  &__text{
    p{
      @extend %body-m;
      margin: rem(50px);
      text-align: justify;
    }
  }
  &__box{
    padding: rem(30px);
    background-color:$white;
    border-radius: rem(50px);
  }
}
