.description-dth{
  background-color: $yellow-lt;
  padding: rem(80px) 0;

  &__content{
    max-width: rem(1064px);
    p{
      font-size: rem(18px);
      margin: 0;
      text-align: center;
    }
  }
}
