.faq {
  padding: rem(20px) 0 rem(40px);
  $self: &;

  @include from(l) {
    padding: rem(40px) 0 rem(80px);
  }

  .accordion {
    background-color: $white;
    padding: rem(40px) rem(50px);
    border-radius: 20px;

    @include from(l) {
      padding: rem(80px) rem(100px);
    }
  }

  &__title {
    text-align: center;
    padding-bottom: rem(40px);
    h2 {
      @extend %h1;
    }
  }

  &__item {
    > div {
      background-color: transparent;
      border: none;
    }
  }

  &__trigger {
    border-color: transparent;
    border-bottom: rem(3px) solid $grey;
    background-color: transparent;
    display: flex;
    gap: rem(15px);
    justify-content: flex-start;
    padding: rem(16px);
    width: 100%;

    &[aria-expanded="true"] {
      #{$self}__bar {
        @include center("both");
      }
      #{$self}__text {
        border-bottom: rem(3px) solid $grey;
      }
    }

    &[aria-expanded="false"] {
      #{$self}__bar {
        &:nth-child(1) {
          @include center("both");
        }
        &:nth-child(2) {
          position: absolute;
          top: 67%;
          left: 23%;
          transform: rotate(90deg) translate(-50%, -50%);
        }
      }
    }
  }

  &__icon {
    background-color: $yellow;
    border-radius: 100%;
    display: block;
    height: rem(44px);
    width: rem(44px);
    position: relative;
    flex-shrink: 0;
  }

  &__bar {
    background-color: $white;
    display: block;
    height: rem(5px);
    width: rem(20px);
    transition: transform 0.3s ease-in-out;
  }

  &__label {
    text-align: left;
    white-space: normal;
    width: 92%;
    @extend %body;
    font-weight: bold;
  }

  &__text {
    @extend %body-m;
    padding: rem(16px) rem(16px) rem(32px);

    border-bottom: rem(3px) solid $grey;
  }
}
