.headquarter{
    padding-bottom: rem(30px);
    &-cards{
        &__container{
            display: flex;
            flex-wrap: wrap;
        }
        &__items{
            flex: 1 1 rem(350px);
        }
        &__image{
            text-align: center;
            img{
                width: 100%;
                max-width: rem(250px);
            }
        }
        &__text{
            text-align: center;font-weight: 550;
        }
    }
    &__doc{
        height: rem(45px);
        margin: rem(30px) 0 0;
        margin-top: rem(40px);
        padding: 7px 10px;
    }
}



