.info-items{
  padding: rem(60px) 0;
  background-color: $yellow-lt;
  .container{
    align-items: center;
    flex-direction: column;
  }
  &__title{
    @extend %h1;
    margin-bottom: rem(50px);
    max-width: rem(970px);
  }
  &__text{
    @extend %body-m;
    margin-bottom: rem(50px);
    max-width: rem(1064px);
  }
  &__container-cards{
    flex-wrap: wrap;
    gap:rem(20px);
  }
  &__cards{
    background-color: #fff;
    border-radius: 20px;
    flex: 1 1 100%;
    padding: rem(30px);
    @include from ('m'){
      flex: 1 1 45%;
    }
    @include from ('l'){
      flex: 1 1 0;
    }
    &:first-child, &:nth-child(2) {
      @include from('m'){
        flex: 1 1 45%;
      }
    }
  }
  &__icon{
    height: rem(140px);
    margin: 0;
    img{
      height: 100%;
    }
  }
  &__text-card{
    margin: 0;
    p {
      @extend %body-s;
    }
  }
}
