.map {
  min-height: 90vh;
  position: relative;
  width: 100%;

  &__pointer {
    display: block;

    &::after {
      @include faIcon('\f3c5', rem(40px));
      color: $white;
    }
  }
}

.active-map {
  overflow: hidden;

  &::after {
    @include coverFixed(1999);
    content: '';
    background-color: rgba(0,0,0,.5);
  }
}
