.posts-news {
  background-image: url("../img/texture.png");
  padding: rem(20px) 0 rem(40px);

  @include from(l) {
    padding: rem(40px) 0 rem(80px);
  }

  &__wrapper {
    height: max-content;
    position: relative;
  }

  &__title-section {
    padding: 0 rem(10px) rem(16px);
    text-align: center;
    span {
      @extend %h3;
      padding-bottom: rem(15px);
      display: block;
    }
    h2 {
      @extend %h1-b;
      text-align: center;
    }
    p {
      text-align: center;
      margin: rem(30px) 0;
    }
  }

  .slick-list,
  .slick-track {
    margin: 0;
    width: 100%;
  }

  .slick-slide {
    padding: 0 rem(10px) rem(16px);
  }

  &__content-arrow {
    @include center("horizontal");
    bottom: 0;
    padding: 0 rem(100px);
    position: absolute;
    top: 0;
    width: 95%;
  }

  &__pagination {
    &__prev,
    &__next {
      cursor: pointer;
      position: absolute;
      top: 50vh;
      span {
        background-color: $yellow;
        border-radius: 100%;
        display: block;
        height: rem(44px);
        position: relative;
        width: rem(44px);

        &:after {
          @include center("both");
          content: "";
          display: block;
          height: rem(20px);
          width: rem(18px);
        }
      }
    }

    &__prev {
      left: rem(5px);

      span {
        &:after {
          @include imageBg(
            "../img/icons/icons-left-arrow.svg",
            rem(35px),
            rem(35px)
          );
        }
      }
    }

    &__next {
      right: rem(5px);

      span {
        &:after {
          @include imageBg(
            "../img/icons/icons-right-arrow.svg",
            rem(35px),
            rem(35px)
          );
        }
      }
    }

    &__dots {
      .slick-dots {
        padding: 0;
        text-align: center;

        li {
          display: inline-block;

          button {
            background-color: rgba($yellow, 0.5);
            border: none;
            border-radius: 100%;
            font-size: 0;
            height: rem(12px);
            margin: 0 rem(5px);
            width: rem(12px);
          }

          &.slick-active {
            button {
              background-color: $yellow;
            }
          }
        }
      }
    }
  }
}
