.posts-partners {
  padding: rem(20px) rem(60px);

  &__wrapper {
    position: relative;
  }

  &__pagination {
    &__prev,
    &__next {
      cursor: pointer;
      position: absolute;
      top: rem(60px);
      span {
        background-color: $yellow;
        border-radius: 50%;
        display: block;
        height: rem(44px);
        position: relative;
        width: rem(44px);

        &:after {
          @include center("both");
          content: "";
          display: block;
          height: rem(20px);
          width: rem(18px);
        }
      }
    }

    &__prev {
      left: rem(-50px);
    }

    &__next {
      right: rem(-50px);
    }

    &__dots {
      .slick-dots {
        padding: rem(15px) 0 0;
        text-align: center;

        li {
          display: inline-block;

          button {
            background-color: rgba($grey, 0.5);
            border-radius: 50%;
            border: none;
            font-size: 0;
            height: 12px;
            margin: 0 rem(10px);
            width: 12px;
          }

          &.slick-active {
            button {
              background-color: $black;
            }
          }
        }
      }
    }
  }
}
