.posts-details {

    &__wrapper {
      height: max-content;
    }
  
    &__title-section {
      padding: 0 rem(10px) rem(16px);
      text-align: center;
      span {
        @extend %h3;
        padding-bottom: rem(15px);
        display: block;
      }
      h2 {
        @extend %h1-b;
        text-align: center;
      }
      p{
        text-align: center;
        margin: rem(30px) 0;
      }
    }
    &__content-card{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }