.question-list {
  &--wrapper {
    justify-content: center;
    gap:rem(20px);

    @include from(l){
      padding: rem(60px) 0;
    }
  }

  &--filters {
    background-color: $white;
    border-radius: rem(30px);
    flex: 1 0 rem(200px);
    height:min-content;
    padding: rem(30px);

    @include from(l){
      flex: 0 0 rem(400px);
      padding: rem(50px);
    }

    &__header {
      @extend %h1;
      margin: 0;
      padding: 0 0 rem(20px);
      text-transform: capitalize;
    }


    &__title {
      @extend %h2-b;
      border-top: 3px solid $grey;
      margin: 0;
      padding: rem(20px) rem(5px);
    }

    &__options {
      padding: 0 0 rem(30px) rem(20px);

      label {
        margin-left: rem(10px);
      }
    }

    &__button {
      padding-top: rem(30px);
    }
  }

  &--questions {
    column-gap: rem(15px);
    display: grid;
    flex: 1 1 rem(250px);
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(rem(400px),1fr));
    row-gap: rem(30px);
  }

}

