@font-face {
  font-family: 'Anton';
  src: url('../../fonts/Anton-Regular.woff2') format('woff2'),
      url('../../fonts/Anton-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../../fonts/RobotoSlab-Bold.woff2') format('woff2'),
      url('../../fonts/RobotoSlab-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../../fonts/RobotoSlab-Light.woff2') format('woff2'),
      url('../../fonts/RobotoSlab-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../../fonts/RobotoSlab-Regular.woff2') format('woff2'),
      url('../../fonts/RobotoSlab-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../../fonts/RobotoSlab-Regular.woff2') format('woff2'),
      url('../../fonts/RobotoSlab-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

