%h1 {
  color: $red;
  font-family: $font-primary;
  font-size: rem(30px);
  font-weight: 400;
  line-height: 1.5;
}

%h1-b {
  @extend %h1;
  display: inline;
  background-color: $yellow;
  box-decoration-break: clone;
  box-shadow: 0.5em 0 0 $yellow, -0.5em 0 0 $yellow;
  line-height: 2;
}

%h2 {
  color: $yellow;
  font-family: $font-primary;
  font-size: rem(25px);
  font-weight: bold;
}

%h2-b {
  @extend %h2;
  color: $black;
}

%h2-c {
  @extend %h2;
  font-size: rem(16px);
  font-weight: bold;
  @include from(l) {
    font-size: rem(20px);
  }
}

%h3 {
  color: $yellow;
  font-family: $font-primary;
  font-size: rem(16px);
  font-weight: bold;
  text-transform: uppercase;
}

%heading {
  @extend %h1;
  font-size: rem(64px);
}

%body {
  color: $black;
  font-family: $font-secondary;
  font-size: rem(16px);
  font-weight: normal;
  line-height: 1.5;

  @include from(l) {
    font-size: rem(20px);
    font-weight: normal;
    line-height: rem(30px);
  }
}

%body-m {
  @extend %body;
  font-size: rem(16px);
  font-weight: normal;
}

%body-s {
  @extend %body;
  font-size: rem(14px);
}

%body-xs {
  @extend %body;
  font-size: rem(12px);
}

%text-button {
  @extend %body;
  font-size: rem(16px);
  font-weight: bold;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

p,
ul,
ol,
div {
  @extend %body-m;
}

strong,
b {
  font-weight: bold;
}
a {
  @extend %h2;
  font-size: rem(16px);
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: $yellow-lt;
  }
}

