// Colores
$black: #2B2B2B;
$black-2:#656565;
$orange:#FE7F00;
$red:#DA5120;
$red-lt:#E7724E;
$orange-lt:#FE7F00;
$yellow: #FEAC01;
$yellow-lt: #FECC51;
$grey: #E6E6E5;
$white: #fcfcfc;
$white-lt: #ffffff;
$Rose:#FC0DA1;
$blue: #19A1FF;




// Brand Colors
$color-primary:$red;
$color-secondary:$yellow;

// Fonts
$font-primary: 'Anton', serif;
$font-secondary: 'Roboto Slab', sans-serif;



// Media queries
$breakpoints-min: (
  's': 576px,
  'm': 768px,
  'l': 992px,
  'xl': 1470px,
);

$breakpoints-max: ('xs': map-get($breakpoints-min, 's') - 1px,
  's': map-get($breakpoints-min, 'm') - 1px,
  'm': map-get($breakpoints-min, 'l') - 1px,
  'l': map-get($breakpoints-min, 'xl') - 1px,
);

$container-max-widths: ('s': 540px,
  'm': 720px,
  'l': 960px,
  'xl': 1320px,
);
